body {
    background-color: white;
}

h1{
    color:#388E3C;
}

h2, h3, h4, h5, h6, a{
    color:#4CAF50;
}

a{
    text-decoration: none;
}

a:hover {
    color:#CDDC39
}
/******************************************************************************************************************
en-tête
 *******************************************************************************************************************/

header {
    padding-top:20px;
    background-color: #4CAF50;
    border-top: 20px solid #388E3C;
}

header h1 {
    display:none;
}
header a img {
text-align: center;
}

.menu{
    display inline-block;
}
/*
tableau
 */
.en-tete-tableau {
    background-color: #C8E6C9;
    border-collapse: collapse;
  font-size: 80%;
    padding-bottom: 5px;
}
td {
    border: #C8E6C9 solid 1px;
    border-collapse: collapse;
    padding: 4px 6px;
    text-align: left;
}


o Les cellules d’entête et de pied ont un fond vert clair
o Les cellules de données contenant un prix ont un texte aligné à droite.
o Le texte du pied du tableau à une taille de 80%, est aligné à droite et ne doit pas être mis en gras.